aniso8601==3.0.2
Django==2.1.3
django-appconf==1.0.2
django-autoslug==1.9.3
django-cors-headers==2.4.0
django-filter==2.0.0
django-graphql-jwt==0.2.0
django-imagekit==4.0.2
django-taggit==0.23.0
django-tinymce==2.7.0
django-treebeard==4.3
djangorestframework==3.9.0
draftjs-exporter==2.1.5
graphene==2.1.3
graphene-django==2.2.0
graphql-core==2.1
graphql-relay==0.4.5
idna==2.7
pilkit==2.0
Pillow==8.3.2
promise==2.2.1
PyJWT==1.7.0
pytz==2018.7
requests==2.20.1
Rx==1.6.1
singledispatch==3.4.0.3
six==1.11.0
Unidecode==1.0.23
urllib3==1.24.1
webencodings==0.5.1
